body {
    background-color: #36393f;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
img {
    width: 100%;
    margin: 0 auto;
    
}

li a {
    color: white;
    text-decoration: none;
    background: #36393f;
    padding: 10px 0;
    display: inline-block;
    min-width: 115px;
    width: 100%;
    text-align: center;
 }
 
 li a:hover {
    background: #3ba55d;
    border-radius: 7px;
 }

 .logo a {
    text-align: left;
    display: block;
    padding: 0;
 }

 .logo a:hover {
     background: transparent;
 }


 .menu {
     display: flex;
     align-items: flex-start;
     flex-wrap: nowrap;
     background: none;
     list-style: none;
     justify-content: center;
     margin: 0 auto;
     max-width: 1200px;
 }

 .logo {
    order: 0;
    flex: 0.8;
    padding: 10px 0;
    
 }

 .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    padding: 14px 10px;
 }

 .main {
    box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.44);
 }
  

.Name {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}

.introInfo {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto; 
}

.introBox {
    width: 390px;
    height: 350px;
    display: inline-block;
    vertical-align: middle;
}

.pfp {
    background-image: url(billeder/moi.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxText {
    display: flex;
    align-items: center;
}

.boxText p {
    color: white;   
    margin: 0; 
}

.divider {
    margin: 0 auto;
    width: 530px;
    color: #3ba55d;
    border: 2px solid;
}

.senesteTitle {
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: white;
}

.senesteGrid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto 50px auto;
}

@media screen and (min-width: 768px) {
    .senesteGrid {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }

    .column {
        width: 100%;
      }

}

.btn {
    border: 15px solid #3ba55d;
    border-radius: 7px;
    color: white;
    margin: 0 auto;
    display: block;
    width: 120px;
    text-decoration: none;
    background-color: #3ba55d;
}

.btn:hover{
    border-radius: 7px;
    transition: 400ms;
}

.return {
    color: white;
    /* border: 3px solid white; */
    text-decoration: none;
    background: #36393f;
    padding: 10px 0;
    display: block;
    width: 135px;
    text-align: center;
    margin: 0 auto;
}

.return:hover {
    background: #3ba55d;
}

.footerBox {
    box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.44);
    
}




.projekterH1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}

.aboutmeH1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}


.aboutMe {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto; 
}

.pfp2 {
    width: 250px;
    height: auto;
    padding: 10px;
}

.aboutmeP {
    color: white;
    letter-spacing: 1px;
    
}

.kompetencerH2 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}

.row {
    display: flex;
    
}

.column {
    float: left;
    width: 33.33%;

}

.column  {
    color: white;
    text-align: center;
    margin: auto 60px;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .container {
      display: flex;
      justify-content: space-around;
      margin-top: 100px;
  }

.contactH1 {
    color: white;
    text-align: center;
}

.contactInfo {
    display: flex;
}


.contactIcon {
    width: auto;
    /* display: flex; */
    
}


.footerText {
    align-self: center;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
}












 /*

 .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .headerIcon {
     width: 50px;
     margin-right: 100px;
 }
 
 .navItems ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
 }
 
 .navItems li {
    flex: 3;    
 } */


@media (min-width: 800px) {
 
    }



/* li {
    display: flex;
    justify-content: ;
  } */

/* ul {
    list-style-type: none;
    display: inline;
  }  */
  
/* a {
    display: block;
    padding: 5px;
    color: white;
    font-size: 30px; 
    
    border-collapse: separate;
    border-spacing: 15px;
    text-decoration: none;
  } */

/* a:hover {
    color: #3ba55d;
    border: 3px #b9bbbe solid;
    border-radius: 10px;
} */

/* section {
    max-width: 1400px;
    margin: 0 auto;
} */

/* header {
    background-color: #36393f ;
    height: 100px;
    -webkit-box-shadow: 1px 9px 11px -1px rgba(0,0,0,0.85); 
    box-shadow: 1px 9px 11px -1px rgba(0,0,0,0.85);
} */