/* Body settings */
body {
    background-color: #36393f;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    font-size: 16px; 
}

/* Image settings */
img {
    width: 100%;
    margin: 0 auto;
    
}
/* Nav Bar settings */
li a {
    color: white;
    text-decoration: none;
    background: #36393f;
    padding: 10px 0;
    display: inline-block;
    min-width: 115px;
    width: 100%;
    text-align: center;
 }

 .logo a {
    text-align: left;
    display: block;
    padding: 0;
 }

 .menu {
     display: flex;
     align-items: flex-start;
     flex-wrap: nowrap;
     background: none;
     list-style: none;
     justify-content: center;
     margin: 0 auto;
     max-width: 1200px;
 }

 .logo {
    order: 0;
    flex: 0.8;
    padding: 10px 0;
    
 }

 .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    padding: 14px 10px;
 }

/* Header & Footer settings */
 .main {
    box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.44);
 }
  
 .footerBox {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: grey;
}

.footerBox a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footerBox {
    box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.44);
    margin: auto;
    width: 100%;
    
}


/* Landingpage settings */

.Name {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}

.introInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto; 
}

.introBox {
    width: 390px;
    height: 350px;
    display: inline-block;
    vertical-align: middle;
}

.pfp {
    background-image: url(billeder/moi.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxText {
    display: flex;
    align-items: center;
}

.boxText p {
    color: white;   
    margin: 0; 
}

.senesteTitle {
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: white;
}

.senesteGrid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
    margin: 0 auto 50px auto;
    text-align: center;
    color: white;
}

.btn {
    border: 15px solid #3ba55d;
    border-radius: 7px;
    color: white;
    margin: 0 auto;
    display: block;
    width: 120px;
    text-decoration: none;
    background-color: #3ba55d;
}

/* Divider settings */
.divider {
    margin: 0 auto;
    width: 50%;
    color: #3ba55d;
    border: 2px solid;
}

/* Projects Page Settings */
.boxSixProjects img {
   width: 253.33px;
   height: 253.33px;
}

.senesteGrid img {
width: 250px;
height: 250px
}

.projekterH1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}


/* Skal justeres til mobile */
/* li a {
    color: white;
    text-decoration: none;
    background: #36393f;
    padding: 10px 0;
    display: inline-block;
    min-width: 115px;
    width: auto;
    text-align: center;
 } */

@media screen and (min-width: 768px) {
    
    /* introInfo PC Settings */
    .introInfo {
        width: 800px;
        display: flex;
        justify-content: space-between;
        margin: 50px auto; 
    }
    
    /* Divider PC Settings */
    .divider {
        margin: 0 auto;
        width: 530px;
        color: #3ba55d;
        border: 2px solid;
    }
    
    
    /* Landingpage PC settings */
    .senesteGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto 150px auto;
    text-align: center;
    color: white;
    }

    .senesteGrid .boxOneProjects:hover {
    text-decoration: underline #3ba55d solid 3px;  
    }
    .senesteGrid .boxTwoProjects:hover {
    text-decoration: underline #3ba55d solid 2.5px;
        
    }
    .senesteGrid .boxThreeProjects:hover {
    text-decoration: underline #3ba55d solid 2.5px;
        
    }
    .senesteGrid .boxFourProjects:hover {
    text-decoration: underline #3ba55d solid 2.5px;
        
    }
    .senesteGrid .boxFiveProjects:hover {
    text-decoration: underline #3ba55d solid 2.5px;  
    }
    .senesteGrid .boxSixProjects:hover {
    text-decoration: underline #3ba55d solid 2.5px;   
    }

    .column {
    width: 100%;
    }

/* Navbar & Header settings */
li a {
    color: white;
    text-decoration: none;
    background: #36393f;
    padding: 10px 0;
    display: inline-block;
    min-width: 115px;
    width: 100%;
    text-align: center;
 }
 
 li a:hover {
    background: #3ba55d;
    border-radius: 7px;
 }

 .logo a {
    text-align: left;
    display: block;
    padding: 0;
 }

 .logo a:hover {
    background: transparent;
     
 }

 .menu {
     display: flex;
     align-items: flex-start;
     flex-wrap: nowrap;
     background: none;
     list-style: none;
     justify-content: center;
     margin: 0 auto;
     max-width: 1200px;
 }

 .logo {
    order: 0;
    flex: 0.8;
    padding: 10px 0;
    
 }

 .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    padding: 14px 10px;
 }

.btn {
    border: 15px solid #3ba55d;
    border-radius: 7px;
    color: white;
    margin: 0 auto;
    display: block;
    width: 120px;
    text-decoration: none;
    background-color: #3ba55d;
    
}

.btn:hover{
    border-radius: 7px;
    transition: 400ms;
}

.return {
    color: white;
    text-decoration: none;
    background: #36393f;
    padding: 10px 0;
    display: block;
    width: 135px;
    text-align: center;
    margin: 0 auto;
}

.return:hover {
    background: #3ba55d;
}

.footerBox {
    box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.44);
    margin-bottom: 0;
    
}

.projekterH1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}
.boxSixProjects img {
    width: 250px;
    height: 250px;
 }

.aboutmeH1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}


.aboutMe {
    display: grid;
    margin: auto;
    text-align: center;
}

/* .aboutMe {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto; 
} */

/* .pfp2 {
    width: 50%;
    height: 50%;
} */

.aboutMeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.aboutMeSkills {
    text-align: center;
    color: white;
    letter-spacing: 1px;
    justify-content: space-evenly;
    
}
.aboutmeText {
    color: white;
    letter-spacing: 1px;
    
}

.kompetencerH2 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}

.row {
    display: flex;
    
}

.column {
    float: left;
    width: 33.33%;

}

.column  {
    color: white;
    text-align: center;
    margin: auto 60px;
}

.container {
      display: flex;
      justify-content: space-around;
      margin-top: 100px;
}

.contactH1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.contactInfo {
    text-align: center;
    margin: 50px auto 100px auto;
}

.contactInfo h4 {
    color: white;
    margin: 5px auto;
}

.temaH1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.footerText {
    align-self: center;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
}

.temaBox  {
    width: auto;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: auto; 
    padding: 20px;
}

.temaTextbox {
    color: white;
    letter-spacing: 1px;
}
}